*.pdb
*.pro.user*
*.vcxproj.user
*.vstbsetup
*.vstbproject
*.json
*.zjson
Thumbs.db
desktop.ini
.DS_Store
*~
build*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.log
*.tlog
libs/port*
libs/VST*
libs/vst*
libs/qtwinmigrate/examples/
libs/qtwinmigrate/lib/
debug/
release/
.vs/
.qtc_clangd/
*.moc
*.cbt
*.obj
.vcxproj.filters