[submodule "libs/portaudio"]
	path = libs/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "libs/portmidi"]
	path = libs/portmidi
	url = https://github.com/PortMidi/PortMidi
[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/free-audio/clap.git
[submodule "libs/clap-helpers"]
	path = libs/clap-helpers
	url = https://github.com/free-audio/clap-helpers.git
