*.pdb
*.pro.user*
*.vcxproj.user
*.vstbsetup
*.vstbproject
*.json
*.zjson
Thumbs.db
desktop.ini
.DS_Store
*~
build*
moc_*.cpp
qrc_*.cpp
ui_*.h
*.log
*.tlog
libs/VST3SDK/
libs/vstsdk2.4/
libs/VST3 SDK/
debug/
release/
.vs/